In [ ]:
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import missingno as mogn
import warnings
warnings.filterwarnings('ignore')

In [ ]:
engine=sqlalchemy.create_engine('mysql+mysqlconnector://root:slender2072000@localhost/hr_data')
try:
    with engine.connect() as conn:
        print("Connection to the database was successful!")
except Exception as e:
    print(f"An error occurred: {e}")

# Load data from SQL database
df = pd.read_sql('SELECT * FROM hr_workforce', con=engine)
df.head()

In [ ]:
print(f"the dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")

In [ ]:
df.dtypes

In [ ]:
#checking for missing values 
import matplotlib

background_color='#fff1e5'
face_color='#fffcfa'
missing=pd.DataFrame(columns=['% missing_values'],data=df.isnull().sum()/len(df))
fig=plt.figure(figsize=(10,6),facecolor=face_color)
gs=fig.add_gridspec(1,2)
ax0=fig.add_subplot(gs[0,0],facecolor=background_color)
ax0.set_facecolor(face_color) 
for s in ['left','right','bottom','top']:
    ax0.spines[s].set_visible(False) #remove grid
cmap = matplotlib.colors.LinearSegmentedColormap.from_list("", ['#002d1d','#0e4f66','gray','#fbfbfb'])

sns.heatmap(missing,cbar=False,cmap=cmap,annot=True,fmt=".1%",linewidths=2,vmax=0.1,ax=ax0)
ax0.tick_params(axis=u'both', which=u'both',length=0)
ax0.set_xticklabels([])

Xstart, Xend = ax0.get_xlim()
Ystart, Yend = ax0.get_ylim()
ax0.text(Xstart,Yend-1.7,'How much data is missing?',color='#33302e',fontsize=15,fontweight='bold')

In [ ]:
df.dtypes

In [ ]:
for col in df.select_dtypes(include=['object']).columns:
    display(df[col].value_counts().to_frame().T)

In [ ]:
df.duplicated().sum()

In [ ]:
df['performance_rating']=df['performance_rating'].str.replace(r'\r','',regex=True)

In [ ]:
df['hiredate']=pd.to_datetime(df['hiredate'],dayfirst=True)
df['termdate']=pd.to_datetime(df['termdate'],dayfirst=True)
df['birthdate']=pd.to_datetime(df['birthdate'],dayfirst=True)
df['age']=((pd.Timestamp('now')-df['birthdate']).dt.days/365).astype(int)

In [ ]:
df.info()

In [ ]:
df[df['termdate'].notna()]

In [ ]:
df.hiredate.max()

In [ ]:
today=pd.to_datetime('today')
age=(today - df['birthdate']).dt.days //365
end_date=(df['termdate'].fillna(today)-df['hiredate']).dt.days //365
df['tenure_years']=end_date

In [ ]:
df['status']=np.where(df['termdate'].isna(),'active','terminated')
df['target']=np.where(df['status']=='active',0,1)

In [ ]:
df.info()

<div style="
    background: #252A34;
    border-left: 4px solid #08D9D6;
    padding: 12px 20px;
    margin: 25px 0 15px 0;
    font-family: 'Segoe UI', sans-serif;
    color: #EAEAEA;
    border-radius: 0 8px 8px 0;
    width:95%
">
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
        <div style="
            width: 24px;
            height: 24px;
            background: #FF2E63;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #252A34;
            font-weight: bold;
            font-size: 0.9em;
        ">4</div>
        <h2 style="margin: 0; color: #08D9D6; font-size: 1.3em;">Data Analysis</h2>
    </div>
    <!-- Installation Notice -->

In [ ]:
sns.palplot(['#002d1d','#0e4f66','gray','#fbfbfb'])

<div style="
    background: #252A34;
    border-left: 4px solid #5E81AC;  <!-- Softer blue for questions -->
    padding: 12px 20px;
    margin: 25px 0 15px 0;
    font-family: 'Segoe UI', sans-serif;
    color: #EAEAEA;
    border-radius: 0 8px 8px 0;
    width:95%
">
    <div style="display: flex; align-items: center; gap: 10px;">
        <div style="
            width: 24px;
            height: 24px;
            background: #88C0D0;  <!-- Muted teal for subtlety -->
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #252A34;
            font-weight: bold;
            font-size: 0.9em;
        ">1</div>
        <h2 style="margin: 0; color: #88C0D0; font-size: 1.3em; font-weight: 500;">Workforce Composition (Who Works Here?)</h2>
    </div>
</div>

In [ ]:
#First the Total Employees Over Time
print(f'Total Employees Over Time {df.employee_id.nunique()}')

In [ ]:
#show the distribution of Status columns to kow what we have more active or terminated employees

x=df.groupby(['status'])['status'].count()
y=len(df)
r=((x/y)).round(2)
ratio=pd.DataFrame(r).T
ratio
fig,ax=plt.subplots(1,1,figsize=(10,2),dpi=150)
background_color='gray'
fig.patch.set_facecolor(background_color)
ax.set_facecolor(background_color)
ax.barh(ratio.index,ratio['active'],color='#0e4f66',alpha=0.8,ec=background_color,label='Active Employees')
ax.barh(ratio.index,ratio['terminated'],left=ratio['active'],color='#002d1d',alpha=0.8,ec=background_color,label='Terminated Employees')
ax.set_xlim(0,1)
ax.set_xticks([])
ax.set_yticks([])
for s in ['left','right','bottom','top']:
    ax.spines[s].set_visible(False) 
ax.legend().set_visible(False)
for i in ratio.index:
    ax.annotate(f"{int(ratio['active'][i]*100)}%",
                xy=(ratio['active'][i]/2,i),
                va='center',
                ha='center',
                fontsize=22,
                color='white',
                )
    ax.annotate("Active",
                xy=(ratio['active'][i]/2.01,-0.20),
                va='center',
                ha='center',
                fontsize=12,
                color='white',
                )
for i in ratio.index:
    ax.annotate(f"{int(ratio['terminated'][i]*100)}%",
                xy=(ratio['active'][i]+ratio['terminated'][i]/2,i),
                va='center',
                ha='center',
                fontsize=20,
                color='white',
                )
    ax.annotate("Terminated",
                xy=(ratio['active'][i]+ratio['terminated'][i]/2.01,-0.20),
                va='center',
                ha='center',
                fontsize=10,
                color='white',
                )
fig.text(0.27,1.1,'Employee Status Distribution',fontsize=16,fontweight='bold',color='black',ha='center')
fig.text(0.12,0.915,'we see an imbalance dataset\nwith more active employees than terminated ones',fontsize=10,color='black')
fig.show()

In [ ]:
active_df=df[df['status']=='active']
dept_count=active_df['department'].value_counts().reset_index()
dept_count
dept_count['percentage']=(dept_count['count']/dept_count['count'].sum())*100
fig=plt.figure(figsize=(10,6))
fig.patch.set_facecolor('#fbfbfb')
colors=['#0e4f66' if s=='Operations'  else '#002d1d' for s in dept_count['department']]

sns.set_style('whitegrid')
ax=sns.barplot(x='count',y='department',data=dept_count,palette=colors)
for i, (count, pct) in enumerate(zip(dept_count['count'], dept_count['percentage'])):
    ax.text(count + 1, i, f'{int(count)} ({pct:.1f}%)', va='center', fontweight='bold')
ax.grid(axis='x', linestyle='--', alpha=0.7)
for s in ['left','right','bottom','top']:
    ax.spines[s].set_visible(False) 
fig.text(0,1,'Active Employees by Department',fontsize=16,fontweight='bold',color='black')
fig.text(0,0.95,'''The Gordon team (Operations and Sales): This division represents 50.8% of the company.''',
                        fontsize=12,color='black')
fig.show()

In [ ]:
#Top active employees by Job Title
colors=['#0e4f66' if s=='Logistics Coordinator'  else '#002d1d' for s in Top_job_count['job_title']]

job_count=active_df['job_title'].value_counts().reset_index()
Top_job_count=job_count.head(10)
Top_job_count['percentage']=(Top_job_count['count']/Top_job_count['count'].sum())*100
fig=plt.figure(figsize=(10,6))
fig.patch.set_facecolor('#fbfbfb')
sns.set_style('whitegrid')
ax=sns.barplot(x='job_title',y='count',data=Top_job_count,palette=colors)


for i,(count,pct) in enumerate(zip(Top_job_count['count'],Top_job_count['percentage'])):
    ax.text(i,count +20,f'{int(count)} ({pct:.1f}%)',va='center',ha='center')
plt.xticks(rotation=45, ha='right')
ax.grid(axis='x',alpha=0)
ax.grid(axis='y', linestyle='--', alpha=0.7)
for s in ['left','right','bottom','top']:
    ax.spines[s].set_visible(False)
ax.text(-1,1050,'Top 10 Active Employees by Job Title',fontsize=16,fontweight='bold',color='black',ha='left')
fig.show()

<div style="background: #252a34; border-radius: 10px; padding: 25px; color: #eaeaea; box-shadow: 0.4px 12px rgba(0, 0, 0, 0.2); margin: 20px 0; border-top: 4px solid #08d9d6; width: 95%">
    <h5 style="margin-top: 0; color: #08d9d6; display: flex; align-items: center; gap: 10px">
        Top Job Title Count</h5>
    <div style="
        background: rgba(8, 217, 214, 0.1);
        padding: 15px;
        border-radius: 6px;
        margin: 15px 0;
        border-left: 3px solid #08D9D6;
        width: 98%
    ">
        From the apparent job structure, we can conclude that the company is a large logistics or e-commerce business focused on day-to-day operations and sales.
    </div>
    <div style="display: flex; gap: 20px; margin-bottom: 20px; width: 98%">
        <div style="flex: 1;">
            <h3 style="color: #FF2E63; margin-top: 0;">Key Observations:</h3> 
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
                margin-bottom: 15px;
            ">
                <strong style="color: #FF2E63;">Operations and Logistics (27%)</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>Most numerous: Logistics coordinators and inventory specialists</li>
                </ul>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
                margin-bottom: 15px;
            ">
                <strong style="color: #FF2E63;">Sales (23%)</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>Hierarchical sales system: Sales Representatives → Specialists → Consultants → Managers</li>
                </ul>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
            ">
                <strong style="color: #FF2E63;">Technology and Support (23%)</strong>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
            ">
                <strong style="color: #FF2E63;">Supporting Functions</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>Digital Marketing (6%)</li>
                    <li>Finance (5%)</li>
                    <li>Human Resources (2%)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

In [ ]:
# gender distribution
gender_dist=df.groupby('gender')['employee_id'].count()
ratio=pd.DataFrame(gender_dist/len(df)).round(2).T
fig,ax=plt.subplots(1,1,figsize=(10,2),dpi=150)
fig.patch.set_facecolor('gray')
ax.set_facecolor('gray')
ax.barh(ratio.index,ratio['Male'],
        color='#0e4f66',
        alpha=0.9,
        ec='gray',
        label='Male')
ax.barh(ratio.index,ratio['Female'],left=ratio['Male'],color='#002d1d',alpha=0.9,ec='gray')
ax.set_xlim(0,1)
ax.set_xticks([])
ax.set_yticks([])
for s in ['left','right','bottom','top']:
    ax.spines[s].set_visible(False)
ax.legend().set_visible(False)
for i in ratio.index:
    ax.annotate(f'{int(ratio['Male'][i]*100)}%'
    ,xy=(ratio['Male'][i]/2,i),
    va='center',
    ha='center',
    fontsize=32,
    color='white')
    ax.annotate('Male',xy=(ratio['Male'][i]/2,-0.25),
    va='center',
    ha='center',
    fontsize=16,
    color='white')
for i in ratio.index:
    ax.annotate(f'{int(ratio['Female'][i]*100)}%'
    ,xy=(ratio['Male'][i]+ratio['Female'][i]/2,i),
    va='center',
    ha='center',
    fontsize=32,
    color='white')
    ax.annotate('Female',xy=(ratio['Male'][i]+ratio['Female'][i]/2,-0.25),
    va='center',
    ha='center',
    fontsize=16,
    color='white')
fig.text(0.125,1.1,'Overall Gender Diversity', fontfamily='serif',fontsize=15, fontweight='bold')
fig.text(0.125,0.915,'Balanced Workforce', fontsize=12)
plt.show()

In [ ]:
# gender diversity by department
gender_dept=df.groupby(['department','gender']).size().unstack()
gender_dept_pct=gender_dept.div(gender_dept.sum(axis=1),axis=0)
fig,ax=plt.subplots(figsize=(15,8),dpi=150)
fig.patch.set_facecolor('gray')
ax.set_facecolor('gray')
ax.barh(gender_dept_pct.index,gender_dept_pct['Female'],color='#002d1d',alpha=0.9,ec='gray',label='Female')
ax.barh(gender_dept_pct.index,gender_dept_pct['Male'],left=gender_dept_pct['Female'],color='#0e4f66',alpha=0.9,ec='gray',label='Male')
ax.set_xlim(0,1)
ax.set_xticks([])
ax.set_ylabel('')
for s in ['top','right','left','bottom']:
    ax.spines[s].set_visible(False)
ax.legend().set_visible(False)
for i in gender_dept_pct.index:
    ax.annotate(f"{int(gender_dept_pct['Female'][i]*100)}%",
                xy=(gender_dept_pct['Female'][i]/2,i),
                va='center',
                ha='center',
                fontsize=14,
                color='white')
    ax.annotate(f'{int(gender_dept_pct['Male'][i]*100)}%',
                xy=(gender_dept_pct['Female'][i]+gender_dept_pct['Male'][i]/2,i),
                va='center',
                ha='center',
                fontsize=14,
                color='white')
fig.text(0.01,1.0,'Gender Diversity by Department', fontfamily='serif',fontsize=15, fontweight='bold')
fig.text(0.01,0.95,'Most departments have a balanced gender distribution', fontsize=15)
fig.text(0.01,0.92,'except for the IT and Engineering departments, which are male-dominated.', fontsize=15)
fig.text(0.25,0.86,'-- Female',fontsize=20,color='#002d1d')
fig.text(0.65,0.86,'-- Male',fontsize=20,color='#0e4f66')
ax.legend().set_visible(False)

fig.show()

In [ ]:
# gender diversity by job title
gender_job=active_df.groupby(['job_title','gender']).size().unstack(fill_value=0)
gender_job_pact=gender_job.div(gender_job.sum(axis=1),axis=0)
fig,ax=plt.subplots(figsize=(12,8),dpi=150)
fig.patch.set_facecolor('gray')
ax.set_facecolor('gray')
ax.barh(gender_job_pact.index,gender_job_pact['Female'],color='#002d1d',alpha=0.9,label='Female',ec='gray')
ax.barh(gender_job_pact.index,gender_job_pact['Male'],left=gender_job_pact['Female'],color='#0e4f66',alpha=0.9,label='Male',ec='gray')
ax.set_xlim(0,1)
ax.set_xticks([])
ax.set_ylabel('')
for s in ['top','right','left','bottom']:
    ax.spines[s].set_visible(False)
for i in gender_job_pact.index:
    ax.annotate(f'{int(gender_job_pact['Female'][i]*100)}%',
                xy=(gender_job_pact['Female'][i]/2,i),
                color='white',
                fontsize=8,
                va='center',
               ha='center')
for i in gender_job_pact.index:
    ax.annotate(f'{int(gender_job_pact['Male'][i]*100)}%',
                xy=(gender_job_pact['Female'][i]+gender_job_pact['Male'][i]/2,i),
                color='white',
                fontsize=8,
                va='center',
               ha='center')
fig.text(-0.1,0.9,'Gender Diversity by Job Title', fontfamily='serif',fontsize=15, fontweight='bold')

fig.show()

In [ ]:
# gender diversity by job level and role
leadership_df=['Manager','VP','CEO','Director','Head','Lead','Senior manager']
active_df['Role_level']=active_df['job_title'].apply(
    lambda x: 'leadership' if any(word in x for word in leadership_df) else 'staff'
)
role_gender=active_df.groupby(['Role_level','gender']).size().unstack(fill_value=0)
role_gender_pact=role_gender.div(role_gender.sum(axis=1),axis=0)
role_gender_pact
fig,ax=plt.subplots(figsize=(12,5),dpi=150)
fig.patch.set_facecolor('gray')
ax.set_facecolor('gray')
ax.set_xlim(0,1)
ax.set_xticks([])
ax.set_ylabel('')
for s in ['top','right','left','bottom']:
    ax.spines[s].set_visible(False)
ax.barh(role_gender_pact.index,role_gender_pact['Female'],color='#002d1d',alpha=0.9,label='Female',ec='gray')
ax.barh(role_gender_pact.index,role_gender_pact['Male'],left=role_gender_pact['Female'],color='#0e4f66',alpha=0.9,label='Male',ec='gray')
for idx,i in enumerate(role_gender_pact.index):
    x_post=role_gender_pact['Female'][i]/2
    ax.annotate(f'{int(role_gender_pact['Female'][i]*100)}%',
    xy=(x_post,idx),
    ha='center',
    va='center',
    fontsize=30,
    color='white'
    )
    ax.annotate(f'{int(role_gender_pact['Male'][i]*100)}%',
    xy=(role_gender_pact['Female'][i]+role_gender_pact['Male'][i]/2,idx),
    ha='center',
    va='center',
    fontsize=30,
    color='white'
    )
    ax.annotate('Female',
    xy=(x_post,idx-0.25),
    ha='center',
    va='center',
    fontsize=16,
    color='White')
    ax.annotate('Male',
    xy=(role_gender_pact['Female'][i]+role_gender_pact['Male'][i]/2,idx-0.25),
    ha='center',
    va='center',
    fontsize=16,
    color='White')
ax.tick_params(axis='y',labelsize=14,labelcolor='white')
ax.legend().set_visible(False)
ax.grid(axis='y',alpha=0)
plt.show()

<div style="background: #252a34; border-radius: 10px; padding: 25px; color: #eaeaea; box-shadow: 0.4px 12px rgba(0, 0, 0, 0.2); margin: 20px 0; border-top: 4px solid #08d9d6; width: 95%">
    <h5 style="margin-top: 0; color: #08d9d6; display: flex; align-items: center; gap: 10px">
        Gender</h5>
    <div style="
        background: rgba(8, 217, 214, 0.1);
        padding: 15px;
        border-radius: 6px;
        margin: 15px 0;
        border-left: 3px solid #08D9D6;
        width: 98%
    ">
        The workforce is well-balanced, with a slight male bias (54% male vs. 46% female). This closeness reflects a balanced hiring policy at the company level.
    </div>
    <div style="display: flex; gap: 20px; margin-bottom: 20px; width: 98%">
        <div style="flex: 1;">
            <h3 style="color: #FF2E63; margin-top: 0;">Key Observations:</h3> 
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
                margin-bottom: 15px;
            ">
                <strong style="color: #FF2E63;">Distribution by Department</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>The Human Resources (HR) department is the only department in which the percentage of females clearly outnumbers them (55%), making it the most diverse or attractive department for women.</li>
                    <li>The IT sector records the highest gap in favor of males at (56.5%), followed by the Operations sector at (54%).</li>
                </ul>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
                margin-bottom: 15px;
            ">
                <strong style="color: #FF2E63;">Leadership and job positions</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>The most striking and positive observation is at the leadership level, where women outnumber men (51.2%) by 48.8%. This indicates a work environment that supports women's empowerment in decision-making positions.</li>
                    <li>Staff level: The distribution tends to favor males (54%)</li>
                </ul>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
            ">
                <strong style="color: #FF2E63;">Job title analysis</strong>
                <ul>
                    <li>Absolute female leadership: A complete female bloc appears in some sensitive leadership positions:</li>
                        <ul style="margin: 8px 0 0 20px; padding: 0;">
                            <li>HR Manager: 100% female.</li>
                            <li>Finance Manager: 75% female.</li>
                            <li>Sales Manager: 63% female.</li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <div style="
        background: rgba(8, 217, 214, 0.1);
        padding: 15px;
        border-radius: 6px;
        margin: 15px 0;
        border-left: 3px solid #08D9D6;
        width: 98%
    ">
        <ul>
            <li>Technical and engineering positions: Males dominate with approximately (56% - 58%) in titles such as (SEO Specialist, IT Support, Software Developer, System Administrator).</li>
            <li>Although sales as a department tends to be male-dominated, the Sales Manager position is more often led by women, reflecting female superiority in managing sales teams.</li>
        </ul>
    </div>
</div>

In [ ]:
# Education Level Distribution
colors=['#0e4f66' if s=='Bachelor'  else '#002d1d' for s in edu_count['education_level']]

edu_count=active_df['education_level'].value_counts().reset_index()
edu_count['percentage']=edu_count['count']/edu_count['count'].sum()*100
fig=plt.figure(figsize=(10,6))
fig.patch.set_facecolor('#fbfbfb')
sns.set_style('whitegrid')
ax=sns.barplot(x='count',y='education_level',data=edu_count,palette=colors)
for i, (count, pct) in enumerate(zip(edu_count['count'], edu_count['percentage'])):
    ax.text(count + 1, i, f'{int(count)} ({pct:.1f}%)', va='center', fontweight='bold')

In [ ]:
edu_dept=active_df.groupby(['department','education_level']).size().unstack(fill_value=0)
edu_dept_pact=edu_dept.div(edu_dept.sum(axis=1),axis=0)
colors=['#002d1d','#0e4f66','gray','#fbfbfb']
ax=edu_dept_pact.plot(kind='barh',stacked=True,figsize=(12,8),color=colors,alpha=0.8,width=0.7,edgecolor='gray')
for s in ['top','right','left','bottom']:
    ax.spines[s].set_visible(False)
ax.set_facecolor('#fbfbfb')
ax.grid(axis='x', alpha=0)
ax.grid(axis='y', alpha=0)
ax.set_xlim(0,1)
ax.set_ylabel('')
for idx, (name, row) in enumerate(edu_dept_pact.iterrows()):
    left = 0
    for col in edu_dept_pact.columns:
        val = row[col]
        if val > 0.05:  
            ax.annotate(f'{int(val*100)}%', 
                        xy=(left + val/2, idx), 
                        va='center', ha='center', 
                        color='black', fontweight='bold', fontsize=13)
        left += val
plt.legend(title='Education Level', bbox_to_anchor=(1.0, 1), loc='upper left')
plt.tight_layout()
plt.show()

<div style="background: #252a34; border-radius: 10px; padding: 25px; color: #eaeaea; box-shadow: 0.4px 12px rgba(0, 0, 0, 0.2); margin: 20px 0; border-top: 4px solid #08d9d6; width: 95%">
    <h5 style="margin-top: 0; color: #08d9d6; display: flex; align-items: center; gap: 10px">
        Education Insights</h5>
    <div style="display: flex; gap: 20px; margin-bottom: 20px; width: 98%">
        <div style="flex: 1;">
            <h3 style="color: #FF2E63; margin-top: 0;">Key Observations:</h3> 
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
                margin-bottom: 15px;
            ">
                <strong style="color: #FF2E63;">General educational structure</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>Bachelor's Degree Predominance: Bachelor's degree holders represent 60.2% of the company's workforce, indicating a strong reliance on standard university qualifications.</li>
                    <li>Secondary Education: High school graduates comprise 20.5% of the workforce, reflecting operational roles that don't require specialized academic training.</li>
                    <li>Postgraduate Studies: Master's and PhD holders together represent approximately 19.3%, a healthy percentage that reflects a strong research and technical presence in some departments.</li>
                </ul>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
            ">
                <strong style="color: #FF2E63;">Academic specialization by department</strong>
                <ul>
                    <li>departments with High Academic Performance:</li>
                        <ul style="margin: 8px 0 0 20px; padding: 0;">
                            <li>Finance: This department boasts the highest percentage of Bachelor's degree holders (75%), with no high school graduates present, reflecting the department's emphasis on specialized qualifications.</li>
                            <li>Sales: This department is uniquely focused, with the highest percentages of PhDs (21%) and Masters degrees (20%), suggesting that sales relies on consultants and experts rather than traditional sales representatives.</li>
                        </ul>
                </ul>
                <ul>
                    <li>Technical and Research Departments:</li>
                        <ul style="margin: 8px 0 0 20px; padding: 0;">
                            <li>Information Technology (IT): This department boasts the highest percentage of Master's degree holders (32.7%), indicating that technical roles require advanced academic specialization beyond a bachelor's degree.</li>
                        </ul>
                </ul>
                <ul>
                    <li>Operations Departments:</li>
                        <ul style="margin: 8px 0 0 20px; padding: 0;">
                            <li>Customer Service: This department has the highest percentage of high school graduates (46.2%), which explains the high rate of employee turnover, as previously noted.</li>
                            <li>Human Resources (HR): This department relies heavily on a mix of Bachelor's degree holders (53%) and high school graduates (35.5%).</li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>

In [ ]:
state_count=active_df['state'].value_counts().reset_index()
state_count['percentage']=state_count['count']/state_count['count'].sum()*100

In [ ]:
colors=['#0e4f66' if s=='New York'  else '#002d1d' for s in state_count['state']]
fig=plt.figure(figsize=(10,6),facecolor='#fbfbfb')
ax=sns.barplot(x='count',y='state',data=state_count,palette=colors)
for i, (count, pct) in enumerate(zip(state_count['count'], state_count['percentage'])):
    ax.text(count + 1, i, f'{int(count)} ({pct:.1f}%)', va='center', fontweight='bold')
ax.legend().set_visible(False)
ax.set_facecolor('#fbfbfb')
ax.grid(axis='x', alpha=0)
ax.grid(axis='y', linestyle='--', alpha=0.7)
for s in ['left','right','bottom','top']:
    ax.spines[s].set_visible(False)
ax.set_ylabel('')

<div style="
    background: #252A34;
    border-left: 4px solid #5E81AC;  <!-- Softer blue for questions -->
    padding: 12px 20px;
    margin: 25px 0 15px 0;
    font-family: 'Segoe UI', sans-serif;
    color: #EAEAEA;
    border-radius: 0 8px 8px 0;
    width:95%
">
    <div style="display: flex; align-items: center; gap: 10px;">
        <div style="
            width: 24px;
            height: 24px;
            background: #88C0D0;  <!-- Muted teal for subtlety -->
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #252A34;
            font-weight: bold;
            font-size: 0.9em;
        ">2</div>
        <h2 style="margin: 0; color: #88C0D0; font-size: 1.3em; font-weight: 500;">Are we retaining them? (Attrition & tenure)
</h2>
    </div>
</div>

In [ ]:
leadership_df=['Manager','VP','CEO','Director','Head','Lead','Senior manager']
df['Role_level']=df['job_title'].apply(
    lambda x: 'leadership' if any(word in x for word in leadership_df) else 'staff'
)

In [ ]:
# Which Gender leaves more ?
leavers_df=df[df['status']=='terminated']
x=leavers_df.groupby('gender')['gender'].count()
ratio=pd.DataFrame((x/len(leavers_df))).T.round(2)
fig,ax=plt.subplots(1,1,figsize=(10,2),dpi=150)
fig.patch.set_facecolor('gray')
ax.set_facecolor('gray')
ax.barh(ratio.index,ratio['Male'],color='#0e4f66',alpha=0.9,ec='gray',label='Male')
ax.barh(ratio.index,ratio['Female'],left=ratio['Male'],color='gray',alpha=0.9,ec='gray',label='Female')
ax.set_xticks([])
ax.set_yticks([])
for s in ['left','right','bottom','top']:
    ax.spines[s].set_visible(False)
for i in ratio.index:
    ax.annotate(f'{int(ratio['Male'][i]*100)}%',
    xy=(ratio['Male'][i]/2,i),
    ha='center',
    va='center',
    fontsize=32,
    color='white',
    )
    ax.annotate(f'{int(ratio['Female'][i]*100)}%',
    xy=(ratio['Female'][i]+ratio['Male'][i]/2,i),
    ha='center',
    va='center',
    fontsize=32,
    color='white',
    )
    ax.annotate('Male',
    xy=(ratio['Male'][i]/2,-0.25),
    ha='center',
    va='center',
    fontsize=16,
    color='white')
    ax.annotate('Female',
    xy=(ratio['Male'][i]+ratio['Female'][i]/2,-0.25),
    ha='center',
    va='center',
    fontsize=16,
    color='white')
plt.text(0,0.8,'which gender leaves more?', fontfamily='serif',fontsize=15, fontweight='bold')
plt.text(0,0.67,'There is a balance between male and female',fontsize=12,)
plt.text(0,0.56,"This percentage is very close to the company's overall distribution.",
        fontsize=12)
plt.show()

In [ ]:
ratio

In [ ]:
# Performance Rating Distribution by Gender
exit_employee=df[df['status']=='terminated']
stay_employee=df[df['status']=='active']
x_exit=pd.crosstab(exit_employee['gender'],exit_employee['performance_rating'],normalize='index')
x_stay=pd.crosstab(stay_employee['gender'],stay_employee['performance_rating'],normalize='index')


fig=plt.figure(figsize=(12,2),dpi=150)
fig.patch.set_facecolor('#fbfbfb')

gs=fig.add_gridspec(1,2)
gs.update(wspace=0.3)
ax0=fig.add_subplot(gs[0])
colormap=matplotlib.colors.LinearSegmentedColormap.from_list("", ['#002d1d','#0e4f66','gray','#fbfbfb'])
sns.heatmap(ax=ax0,data=x_exit,cmap=colormap,annot=True,fmt=".2%",linewidths=2,vmax=0.5)
ax1=fig.add_subplot(gs[1])
sns.heatmap(ax=ax1,data=x_stay,cmap=colormap,annot=True,fmt=".2%",linewidths=2,vmax=0.5)
for i in [ax0,ax1]:
    i.set_facecolor('#fbfbfb')
    i.set_ylabel('')
    i.set_xlabel('')
    for s in ['left','right','bottom','top']:
        i.spines[s].set_visible(False)
ax0.set_title('Exited Employees',fontsize=14)
ax1.set_title('Active Employees',fontsize=14)
ax0.text(0,-0.9,'Performance Rating Distribution by Gender',fontsize=16,fontweight='bold',color='black')
ax0.tick_params(axis=u'both', which=u'both',length=0)
ax1.tick_params(axis=u'both', which=u'both',length=0)

fig.show()

<div style="background: #252a34; border-radius: 10px; padding: 25px; color: #eaeaea; box-shadow: 0.4px 12px rgba(0, 0, 0, 0.2); margin: 20px 0; border-top: 4px solid #08d9d6; width: 95%">
    <h5 style="margin-top: 0; color: #08d9d6; display: flex; align-items: center; gap: 10px">
        Gender</h5>
    <div style="
        background: rgba(8, 217, 214, 0.1);
        padding: 15px;
        border-radius: 6px;
        margin: 15px 0;
        border-left: 3px solid #08D9D6;
        width: 98%
    ">
       The turnover rates are remarkably similar between genders, with males accounting for 53% of resignations compared to 47% for females. This suggests that the decision to leave a company is not significantly influenced by gender, but rather appears to be a common phenomenon in the workplace.
    </div>
    <div style="display: flex; gap: 20px; margin-bottom: 20px; width: 98%">
        <div style="flex: 1;">
            <h3 style="color: #FF2E63; margin-top: 0;">Key Observations:</h3> 
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
                margin-bottom: 15px;
            ">
                <strong style="color: #FF2E63;">Distribution by Department</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>The Human Resources (HR) department is the only department in which the percentage of females clearly outnumbers them (55%), making it the most diverse or attractive department for women.</li>
                    <li>The IT sector records the highest gap in favor of males at (56.5%), followed by the Operations sector at (54%).</li>
                </ul>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
                margin-bottom: 15px;
            ">
                <strong style="color: #FF2E63;">Leadership and job positions</strong>
                <ul style="margin: 8px 0 0 20px; padding: 0;">
                    <li>The most striking and positive observation is at the leadership level, where women outnumber men (51.2%) by 48.8%. This indicates a work environment that supports women's empowerment in decision-making positions.</li>
                    <li>Staff level: The distribution tends to favor males (54%)</li>
                </ul>
            </div>
            <div style="
                background: rgba(255, 46, 99, 0.1);
                padding: 12px;
                border-radius: 6px;
            ">
                <strong style="color: #FF2E63;">Job title analysis</strong>
                <ul>
                    <li>Absolute female leadership: A complete female bloc appears in some sensitive leadership positions:</li>
                        <ul style="margin: 8px 0 0 20px; padding: 0;">
                            <li>HR Manager: 100% female.</li>
                            <li>Finance Manager: 75% female.</li>
                            <li>Sales Manager: 63% female.</li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <div style="
        background: rgba(8, 217, 214, 0.1);
        padding: 15px;
        border-radius: 6px;
        margin: 15px 0;
        border-left: 3px solid #08D9D6;
        width: 98%
    ">
        <ul>
            <li>Technical and engineering positions: Males dominate with approximately (56% - 58%) in titles such as (SEO Specialist, IT Support, Software Developer, System Administrator).</li>
            <li>Although sales as a department tends to be male-dominated, the Sales Manager position is more often led by women, reflecting female superiority in managing sales teams.</li>
        </ul>
    </div>
</div>

In [ ]:
df['age'].describe()

In [ ]:
fig=plt.figure(figsize=(16,6),dpi=150)
background_color='#fbfbfb'
fig.patch.set_facecolor(background_color)
gs=fig.add_gridspec(1,2)
gs.update(wspace=0.3)
ax0=fig.add_subplot(gs[0],facecolor=background_color)


sns.kdeplot(
    data=df[df['status']=='active'],
    x='age',
    color='gray',
    label='Active Employees',
    fill=True,alpha=0.3,
    ax=ax0)
sns.kdeplot(
    data=df[df['status']=='terminated'],
    x='age',
    color='#0e4f66',
    label='Terminated Employees',
    fill=True,alpha=0.3,
    ax=ax0)
ax0.set_xlabel('Age (years)',fontsize=14)
ax0.set_title('Age Distribution by Employee Status',fontsize=16,pad=20)
ax0.legend(['Active','Terminated'],
            title='Employee Status',
            ncol=2,
            bbox_to_anchor=(0.7,1.28),
            facecolor=background_color,
            edgecolor=background_color)
ax1=fig.add_subplot(gs[1],facecolor=background_color)
df['age_bins']=pd.cut(df['age'],bins=range(18,70,10))
age_rates=df.groupby('age_bins')['target'].mean().reset_index()
sns.barplot(data=age_rates,x='age_bins',y='target',ax=ax1,color='#247747',alpha=0.8)
ax1.set_xlabel('Age Groups (years)',fontsize=14)
ax1.set_ylabel('Termination Rate',fontsize=14)
for ax in [ax0,ax1]:
    ax.grid(axis='y',alpha=0.7,linestyle='--')
    for s in ['left','right','bottom','top']:
        ax.spines[s].set_visible(False)
fig.text(0.2,1.20,'Employee Age Analysis',fontsize=20,fontweight='bold',color='black',ha='center')
fig.text(0.3,1.15,'Younger employees tend to leave the company more frequently than older employees.',fontsize=12,color='black',ha='center')
fig.show()

In [ ]:
exit_employee['age_bins']=pd.cut(exit_employee['age'],bins=range(18,70,10))
stay_employee['age_bins']=pd.cut(stay_employee['age'],bins=range(18,70,10))
x_exit=pd.crosstab(exit_employee['performance_rating'],
                   exit_employee['age_bins'],
                   normalize=True)

x_stay=pd.crosstab(stay_employee['performance_rating'],
                   stay_employee['age_bins'],
                   normalize=True)
fig=plt.figure(figsize=(15,5),dpi=150)
fig.patch.set_facecolor('#fbfbfb')
gs=fig.add_gridspec(1,2)
gs.update(wspace=0.5)
ax0=fig.add_subplot(gs[0])
sns.heatmap(
    data=x_exit,
    ax=ax0,
    cmap=colormap,
    annot=True,
    fmt='0.2%',
    linewidth=0.2,
    cbar=False
)
ax1=fig.add_subplot(gs[1])
sns.heatmap(ax=ax1,
            data=x_stay,
            cmap=colormap,
            annot=True,
            fmt='0.2%',
            linewidth=0.2,
            cbar=False
            )
for ax in [ax1,ax0]:
    ax.set_facecolor('#fbfbfb')
    ax.set_ylabel('')
    ax.set_xlabel('')
    for s in ['left','right','bottom','top']:
        i.spines[s].set_visible(False)
ax0.set_title('Exited Employees',fontsize=14)
ax1.set_title('Active Employees',fontsize=14)
ax0.text(2.5,-1.1,'Performance Rating Distribution by Age bins',fontsize=16,fontweight='bold',color='black')
ax0.tick_params(axis=u'both', which=u'both',length=0)

In [ ]:
x_exit=pd.crosstab(exit_employee['performance_rating'],
                    exit_employee['department'],
                    normalize='index',
                    )
x_stay=pd.crosstab(stay_employee['performance_rating'],
                    stay_employee['department'],
                    normalize='index',
                    )
fig=plt.figure(figsize=(15,5),dpi=150)
fig.patch.set_facecolor('#fbfbfb')
gs=fig.add_gridspec(1,2)
gs.update(wspace=0.4)
ax0=fig.add_subplot(gs[0])
sns.heatmap(ax=ax0,
            data=x_exit,
            cmap=colormap,
            annot=True,
            fmt=".2%",
            linewidth=2,
            cbar=False)
ax1=fig.add_subplot(gs[1])
sns.heatmap(ax=ax1,
            data=x_stay,
            cmap=colormap,
            annot=True,
            fmt=".2%",
            linewidth=2)
for i in [ax0,ax1]:
    i.set_facecolor('#fbfbfb')
    i.set_ylabel('')
    i.set_xlabel('')
    for s in ['left','right','bottom','top']:
        i.spines[s].set_visible(False)
ax0.set_title('Exited Employees',fontsize=14)
ax1.set_title('Active Employees',fontsize=14)
ax0.text(0,-1.2,'Performance Rating Distribution by Department',fontsize=16,fontweight='bold',color='black')
ax0.tick_params(axis=u'both', which=u'both',length=0)

In [ ]:
x_exit=pd.crosstab(exit_employee['performance_rating'],
                    exit_employee['job_title'],
                    normalize='index',
                    )
x_stay=pd.crosstab(stay_employee['performance_rating'],
                    stay_employee['job_title'],
                    normalize='index',
                    )
fig=plt.figure(figsize=(14,10),dpi=150)
fig.patch.set_facecolor('#fbfbfb')
gs=fig.add_gridspec(2,3)
gs.update(wspace=0.3,hspace=0.9)
ax0=fig.add_subplot(gs[0,:])
sns.heatmap(ax=ax0,
            data=x_exit,
            cmap=colormap,
            annot=True,
            fmt=".2%",
            linewidth=2,
            cbar=False,
            cbar_kws={'orientation':'horizontal'},annot_kws={'fontsize':8})
ax1=fig.add_subplot(gs[1,:])
sns.heatmap(ax=ax1,
            data=x_stay,
            cmap=colormap,
            annot=True,
            fmt=".2%",
            linewidth=2,
            cbar=False,
            cbar_kws={'orientation':'horizontal'},annot_kws={'fontsize':8})
for i in [ax0,ax1]:
    i.set_facecolor('#fbfbfb')
    i.set_ylabel('')
    i.set_xlabel('')
    for s in ['left','right','bottom','top']:
        i.spines[s].set_visible(False)
ax0.set_title('Exited Employees',fontsize=14)
ax1.set_title('Active Employees',fontsize=14)
ax0.text(0,-1.2,'Performance Rating Distribution by Job Title',fontsize=16,fontweight='bold',color='black')
ax0.tick_params(axis=u'both', which=u'both',length=0)

In [ ]:
def tenure_group(tenure):
    if tenure <=1 :
        return '0-1 year (early)'
    elif tenure <=3:
        return '2-3 years (mid)'
    elif tenure <=5:
        return '4-5 years (experienced)'
    else:
        return '6-11 years (senior)'
df['tenure_group']=df['tenure_years'].apply(tenure_group)

In [ ]:
fig=plt.figure(figsize=(16,6),dpi=150)
background_color='#fbfbfb'
fig.patch.set_facecolor(background_color)
gs=fig.add_gridspec(1,2)
gs.update(wspace=0.4)
ax0=fig.add_subplot(gs[0],facecolor=background_color)
sns.kdeplot(
    data=df[df['status']=='active'],
    x='tenure_years',
    color='gray',
    label='Active Employees',
    fill=True,alpha=0.3,
    ax=ax0)
sns.kdeplot(
    data=df[df['status']=='terminated'],
    x='tenure_years',
    color='#0e4f66',
    label='Terminated Employees',
    fill=True,alpha=0.3,
    ax=ax0)
ax0.legend(['Active','Terminated'],
            title='Employee Status',
            ncol=2,
            bbox_to_anchor=(0.7,1.28),
            facecolor=background_color,
            edgecolor=background_color)
ax0.set_xlabel('Tenure (years)',fontsize=14)
ax0.set_title('Tenure Distribution by Employee Status',fontsize=16,pad=20)
ax1=fig.add_subplot(gs[1],facecolor=background_color)
tenure_rates=df.groupby('tenure_group')['target'].mean().reset_index()
sns.barplot(data=tenure_rates,x='tenure_group',y='target',ax=ax1,color='#247747',alpha=0.8)
ax1.set_xlabel('Tenure Groups (years)',fontsize=14)
for ax in [ax0,ax1]:
    ax.grid(axis='y',alpha=0.7,linestyle='--')
    for s in ['left','right','bottom','top']:
        ax.spines[s].set_visible(False)
ax1.set_title('Termination Rates by Tenure Group',fontsize=14)
fig.text(0.2,1.20,'Employee Tenure Analysis',fontsize=20,fontweight='bold',color='black',ha='center')
fig.text(0.3,1.15,'Employees with shorter tenures are more likely to leave the company.',fontsize=12,color='black',ha='center')
fig.show()

- Employee attrition is heavily front-loaded.
Employees with 0–1 year tenure have by far the highest termination rate (~48%), indicating early tenure is the highest risk period.

In [ ]:
leavers_df=df[df['status']=='terminated']
leaves_df_early_years=leavers_df[leavers_df['tenure_group']=='0-1 year (early)']
stay_employee=df[df['status']=='active']
stay_employee_early_years=stay_employee[stay_employee['tenure_group']=='0-1 year (early)']

In [ ]:
x_exit=pd.crosstab(leaves_df_early_years['performance_rating'],
                   leaves_df_early_years['age_bins'],
                   normalize=True)
fig=plt.figure(figsize=(16,8),dpi=150)
fig.patch.set_facecolor('#fbfbfb')
gs=fig.add_gridspec(1,2)
ax0=fig.add_subplot(gs[0])
sns.heatmap(
    data=x_exit,
    ax=ax0,
    cmap=colormap,
    annot=True,
    fmt='0.2%',
    linewidth=0.2,
    cbar=False
)
ax0.set_title('Exited Employees',fontsize=14)
ax1=fig.add_subplot(gs[1])
x_stay=pd.crosstab(stay_employee_early_years['performance_rating'],
                   stay_employee_early_years['age_bins'],
                   normalize=True)

sns.heatmap(
    data=x_stay,
    ax=ax1,
    cmap=colormap,
    annot=True,
    fmt='0.2%',
    linewidth=0.2,
    cbar=False
)
ax1.set_title('Active Employees',fontsize=14)
for ax in [ax0, ax1]:
    ax.set_facecolor('#fbfbfb')
    ax.set_ylabel('')
    ax.set_xlabel('')
    for s in ['left','right','bottom','top']:
        ax.spines[s].set_visible(False)
ax0.text(0,-0.7,'Performance Rating Distribution by Age Group',fontsize=16,fontweight='bold',color='black')

In [ ]:
early_df = df[df['tenure_group'] == '0-1 year (early)']
early_df['is_leaver'] = (early_df['status'] == 'terminated').astype(int)
counts = pd.crosstab(
    index=[early_df['performance_rating'], early_df['age_bins']],
    columns=early_df['is_leaver']
)

counts.columns = ['stayer', 'leaver']

In [ ]:
or_table = counts.copy()

or_table['leaver'] += 0.5
or_table['stayer'] += 0.5

total_leavers = or_table['leaver'].sum()
total_stayers = or_table['stayer'].sum()

or_table['odds_ratio'] = (
    (or_table['leaver'] / or_table['stayer']) /
    ((total_leavers - or_table['leaver']) / (total_stayers - or_table['stayer']))
)

or_table = or_table[['odds_ratio']]
fig=plt.figure(figsize=(10,6),dpi=150)
fig.patch.set_facecolor('#fbfbfb')
gs=fig.add_gridspec(1,1)
ax0=fig.add_subplot(gs[0])
sns.heatmap(
    data=or_table.unstack().T,
    ax=ax0,
    cmap='coolwarm',
    annot=True,
    fmt=".2f",
    linewidth=0.2,
    cbar_kws={'label': 'Odds Ratio'}
)
ax0.set_facecolor('#fbfbfb')
ax0.set_ylabel('')
ax0.set_xlabel('')
for s in ['left','right','bottom','top']:
    ax0.spines[s].set_visible(False)
ax0.set_title('Performance Rating Distribution by Age Group',fontsize=16,fontweight='bold',color='black')

In [ ]:
x_exit=pd.crosstab(leaves_df_early_years['Role_level'],
                   leaves_df_early_years['performance_rating'],
                   normalize=True)
fig=plt.figure(figsize=(16,5),dpi=150)
fig.patch.set_facecolor('#fbfbfb')
gs=fig.add_gridspec(1,2)
ax0=fig.add_subplot(gs[0])
sns.heatmap(
    data=x_exit,
    ax=ax0,
    cmap=colormap,
    annot=True,
    fmt='0.2%',
    linewidth=0.2,
    cbar=False
)
ax0.set_title('Exited Employees',fontsize=14)
ax1=fig.add_subplot(gs[1])
x_stay=pd.crosstab(stay_employee_early_years['Role_level'],
                   stay_employee_early_years['performance_rating'],
                   normalize=True)

sns.heatmap(
    data=x_stay,
    ax=ax1,
    cmap=colormap,
    annot=True,
    fmt='0.2%',
    linewidth=0.2,
    cbar=False
)
ax1.set_title('Active Employees',fontsize=14)
for ax in [ax0, ax1]:
    ax.set_facecolor('#fbfbfb')
    ax.set_ylabel('')
    ax.set_xlabel('')
    for s in ['left','right','bottom','top']:
        ax.spines[s].set_visible(False)
ax0.text(0,-0.7,'Performance Rating Distribution by Age Group',fontsize=16,fontweight='bold',color='black')

In [ ]:
x_exit=pd.crosstab(leaves_df_early_years['department'],
                   leaves_df_early_years['performance_rating'],
                   normalize=True)
fig=plt.figure(figsize=(16,5),dpi=150)
fig.patch.set_facecolor('#fbfbfb')
gs=fig.add_gridspec(1,2)
gs.update(wspace=0.5)
ax0=fig.add_subplot(gs[0])
sns.heatmap(
    data=x_exit,
    ax=ax0,
    cmap=colormap,
    annot=True,
    fmt='0.2%',
    linewidth=0.2,
    cbar=False
)
ax0.set_title('Exited Employees',fontsize=14)
ax1=fig.add_subplot(gs[1])
x_stay=pd.crosstab(stay_employee_early_years['department'],
                   stay_employee_early_years['performance_rating'],
                   normalize=True)

sns.heatmap(
    data=x_stay,
    ax=ax1,
    cmap=colormap,
    annot=True,
    fmt='0.2%',
    linewidth=0.2,
    cbar=False
)
ax1.set_title('Active Employees',fontsize=14)
for ax in [ax0, ax1]:
    ax.set_facecolor('#fbfbfb')
    ax.set_ylabel('')
    ax.set_xlabel('')
    for s in ['left','right','bottom','top']:
        ax.spines[s].set_visible(False)
ax0.text(0,-0.7,'Performance Rating Distribution by department',fontsize=16,fontweight='bold',color='black')

<div style="
    background: #252A34;
    border-left: 4px solid #5E81AC;  <!-- Softer blue for questions -->
    padding: 12px 20px;
    margin: 25px 0 15px 0;
    font-family: 'Segoe UI', sans-serif;
    color: #EAEAEA;
    border-radius: 0 8px 8px 0;
    width:95%
">
    <div style="display: flex; align-items: center; gap: 10px;">
        <div style="
            width: 24px;
            height: 24px;
            background: #88C0D0;  <!-- Muted teal for subtlety -->
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #252A34;
            font-weight: bold;
            font-size: 0.9em;
        ">3</div>
        <h2 style="margin: 0; color: #88C0D0; font-size: 1.3em; font-weight: 500;">Are we Are We Paying Fairly?
</h2>
    </div>
</div>

In [225]:
df['salary'].describe()

count      8950.000000
mean      70964.213520
std       13763.126237
min       51835.000000
25%       60920.500000
50%       66592.500000
75%       78600.500000
max      149377.000000
Name: salary, dtype: float64

In [226]:
salary_by_role=df.groupby('job_title')['salary'].agg(['count', 'median', 'mean', 'min', 'max']).sort_values('median', ascending=False)
salary_by_role

,count,median,mean,min,max
job_title,,,,,
Finance Manager,9,122140.0,125143.000000,103057,149377
IT Manager,28,114987.5,113906.821429,88270,133425
Sales Manager,52,102606.0,103795.500000,74371,135055
Operations Manager,56,99190.0,96937.160714,77121,115534
Marketing Manager,29,97163.0,95955.793103,74257,110729
Software Developer,627,92899.0,93414.023923,73249,120359
Sales Consultant,478,86126.0,86075.500000,64372,116998
Financial Analyst,161,85795.0,86409.354037,65295,118528
System Administrator,280,85659.5,85466.807143,61756,110836
Customer Service Manager,74,84298.5,84782.662162,67027,104359
HR Manager,1,82203.0,82203.000000,82203,82203
Sales Specialist,565,75297.0,75045.182301,52966,106945
Operations Analyst,557,73677.0,73674.849192,52612,103281
Accountant,173,72845.0,73457.312139,51887,101461
SEO Specialist,175,72329.0,73271.651429,54251,102226
Help Desk Technician,488,72206.5,72426.079918,51835,97888
Marketing Coordinator,206,69022.0,68490.966019,52863,84954
Sales Representative,740,68153.0,68775.805405,51865,88827
Recruiter,85,65886.0,66001.494118,54400,80165
Logistics Coordinator,1061,62932.0,63100.821866,52525,77942
HR Coordinator,56,62837.0,62879.946429,53320,72109
Accounts Payable Specialist,109,62109.0,62473.477064,53141,78235
Support Specialist,608,61705.0,61810.402961,52048,76796
Inventory Specialist,1044,61491.0,61630.781609,52138,76197
IT Support Specialist,447,61217.0,61589.485459,52103,76904
Customer Service Representative,503,61136.0,61526.741551,52326,74864
Content Creator,308,60814.5,61249.295455,51887,73603
HR Assistant,30,60166.5,60644.633333,52401,74604

In [227]:
gender_pay=df.groupby(
            ['job_title','gender'])['salary'].median().unstack()
gender_pay

gender                             Female      Male
job_title
Accountant                        69516.0   76808.5
Accounts Payable Specialist       58822.5   65547.0
Content Creator                   58967.0   63604.0
Customer Service Manager          86176.0   83556.0
Customer Service Representative   59278.0   63156.0
Finance Manager                  133448.0  119371.0
Financial Analyst                 86871.0   85758.5
HR Assistant                      58106.0   60533.0
HR Coordinator                    60348.5   65027.5
HR Manager                        82203.0       NaN
Help Desk Technician              70957.0   74398.0
IT Manager                       118570.0  112233.0
IT Support Specialist             59091.0   63264.0
Inventory Specialist              59044.0   63431.5
Logistics Coordinator             59519.0   66215.5
Marketing Coordinator             65021.0   71630.0
Marketing Manager                 91548.0  102019.5
Operations Analyst                73002.0   74240.0
Operations Manager               101386.0   93764.0
Recruiter                         65122.0   68444.0
SEO Specialist                    71525.5   73844.0
Sales Consultant                  89203.0   84479.5
Sales Manager                    107510.0   94692.0
Sales Representative              64203.0   72227.0
Sales Specialist                  76752.0   73327.5
Software Developer                91998.0   94122.0
Support Specialist                59594.5   63647.5
System Administrator              84173.0   87364.0

In [228]:
gender_pay['%pay_gap']=((gender_pay['Male']-gender_pay['Female'])/gender_pay['Female'])*100
gender_pay.sort_values('%pay_gap',ascending=False,inplace=True)
gender_pay

gender                             Female      Male   %pay_gap
job_title
Sales Representative              64203.0   72227.0  12.497858
Marketing Manager                 91548.0  102019.5  11.438262
Accounts Payable Specialist       58822.5   65547.0  11.431850
Logistics Coordinator             59519.0   66215.5  11.251029
Accountant                        69516.0   76808.5  10.490391
Marketing Coordinator             65021.0   71630.0  10.164408
Content Creator                   58967.0   63604.0   7.863720
HR Coordinator                    60348.5   65027.5   7.753300
Inventory Specialist              59044.0   63431.5   7.430899
IT Support Specialist             59091.0   63264.0   7.061989
Support Specialist                59594.5   63647.5   6.800963
Customer Service Representative   59278.0   63156.0   6.542056
Recruiter                         65122.0   68444.0   5.101195
Help Desk Technician              70957.0   74398.0   4.849416
HR Assistant                      58106.0   60533.0   4.176849
System Administrator              84173.0   87364.0   3.791002
SEO Specialist                    71525.5   73844.0   3.241501
Software Developer                91998.0   94122.0   2.308746
Operations Analyst                73002.0   74240.0   1.695844
Financial Analyst                 86871.0   85758.5  -1.280635
Customer Service Manager          86176.0   83556.0  -3.040290
Sales Specialist                  76752.0   73327.5  -4.461773
Sales Consultant                  89203.0   84479.5  -5.295225
IT Manager                       118570.0  112233.0  -5.344522
Operations Manager               101386.0   93764.0  -7.517803
Finance Manager                  133448.0  119371.0 -10.548678
Sales Manager                    107510.0   94692.0 -11.922612
HR Manager                        82203.0       NaN        NaN

In [222]:
dept_gender_gap = (
    df
    .groupby(['department', 'gender'])['salary']
    .median()
    .unstack()
)

dept_gender_gap['pay_gap_%'] = (
    (dept_gender_gap['Male'] - dept_gender_gap['Female']) 
    / dept_gender_gap['Male']
) * 100

dept_gender_gap.sort_values('pay_gap_%', ascending=False)
dept_gender_gap

gender             Female     Male  pay_gap_%
department
Customer Service  61104.0  65079.0   6.107961
Finance           70967.0  75105.5   5.510249
HR                62652.0  65679.5   4.609505
IT                83426.0  84299.0   1.035599
Marketing         62036.0  67408.0   7.969380
Operations        60426.0  65912.0   8.323219
Sales             73084.0  75759.0   3.530934

In [217]:
salary_prof=df.groupby('performance_rating')['salary'].median()
salary_prof

performance_rating
Excellent            70204.0
Good                 67391.0
Needs Improvement    63290.0
Satisfactory         65631.0
Name: salary, dtype: float64

In [ ]:
dept_perf_gap = (
    df
    .groupby(['department', 'performance_rating'])['salary']
    .median()
    .unstack()
)
dept_perf_gap

performance_rating  Excellent     Good  Needs Improvement  Satisfactory
department
Customer Service      62895.0  64203.0            62527.0       62628.0
Finance               77795.5  71098.0            71270.0       73521.0
HR                    62698.5  65627.0            60533.0       64363.5
IT                    86075.0  86919.0            63233.0       80436.0
Marketing             66869.0  65199.0            63898.0       64547.0
Operations            63542.0  64169.5            61524.5       62997.0
Sales                 78470.0  73482.0            76141.5       73010.5

In [216]:
salary_tenure=df.groupby('tenure_group')['salary'].median()
salary_tenure

tenure_group
0-1 year (early)           66936.0
2-3 years (mid)            66640.0
4-5 years (experienced)    66001.0
6-11 years (senior)        66685.0
Name: salary, dtype: float64

In [224]:
dept_perf_gap = (
    df
    .groupby(['department', 'tenure_group'])['salary']
    .median()
    .unstack()
)
dept_perf_gap

tenure_group,0-1 year (early),2-3 years (mid),4-5 years (experienced),6-11 years (senior)
department,,,,
Customer Service,62902.0,63950.5,63290.0,62924.0
Finance,71304.0,74224.0,73154.5,74103.0
HR,63645.0,64267.0,60998.0,64339.0
IT,84557.0,84265.5,86919.0,82423.5
Marketing,65017.0,63932.0,64102.5,65217.0
Operations,63483.5,63575.0,62566.0,63505.0
Sales,76020.0,73151.0,75727.5,74018.0

In [247]:
banchmark_salary=df.groupby(['job_title','tenure_group'])['salary'].median().reset_index().rename(columns={'salary':'benchmark_salary'})
df=df.merge(banchmark_salary,on=['job_title','tenure_group'],how='left')
df['pay_diff']=((copy_df['salary']-copy_df['benchmark_salary'])/copy_df['benchmark_salary'])*100
df

,employee_id,first_name,last_name,gender,state,city,education_level,birthdate,hiredate,termdate,...,performance_rating,age,tenure_years,status,target,age_bins,tenure_group,Role_level,benchmark_salary,pay_diff
0,00-10001272,Samuel,Burgess,Female,West Virginia,Huntington,Bachelor,1975-01-11,2018-10-30,NaT,...,Satisfactory,51,7,active,0,"(48, 58]",6-11 years (senior),staff,73079.0,-8.609861
1,00-10006914,Ethan,Case,Male,Michigan,Detroit,High School,1980-09-24,2022-10-12,NaT,...,Needs Improvement,45,3,active,0,"(38, 48]",2-3 years (mid),staff,61341.0,4.129375
2,00-10008169,Barbara,Blair,Male,Michigan,Warren,Bachelor,1959-07-28,2022-11-23,NaT,...,Good,66,3,active,0,"(58, 68]",2-3 years (mid),staff,73730.0,20.139699
3,00-10012470,Amy,Davidson,Female,Michigan,Grand Rapids,Bachelor,1989-02-23,2019-10-15,NaT,...,Good,36,6,active,0,"(28, 38]",6-11 years (senior),staff,73127.5,-14.474035
4,00-10017850,Ricky,Serrano,Male,New York,New York City,Bachelor,2000-09-18,2016-10-07,NaT,...,Good,25,9,active,0,"(18, 28]",6-11 years (senior),staff,75317.0,22.313687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,00-99960756,Heather,Garcia,Male,New York,Rochester,Bachelor,1980-02-05,2019-07-12,NaT,...,Satisfactory,46,6,active,0,"(38, 48]",6-11 years (senior),staff,62910.5,1.962312
8946,00-99962943,Laura,Sanders,Female,New York,Rochester,Bachelor,2000-01-03,2024-02-25,NaT,...,Satisfactory,26,1,active,0,"(18, 28]",0-1 year (early),staff,62856.0,-10.829515
8947,00-99965548,Julie,Howe,Female,Pennsylvania,Pittsburgh,Bachelor,1989-12-16,2022-04-20,NaT,...,Good,36,3,active,0,"(28, 38]",2-3 years (mid),staff,60340.0,3.702353
8948,00-99981221,Karen,Cole,Female,New York,Rochester,Bachelor,1993-03-06,2019-08-18,NaT,...,Excellent,32,6,active,0,"(28, 38]",6-11 years (senior),staff,66348.0,11.130705
8949,00-99996378,Melissa,Nelson,Male,West Virginia,Morgantown,Bachelor,1989-02-11,2016-12-15,NaT,...,Needs Improvement,36,9,active,0,"(28, 38]",6-11 years (senior),staff,61496.0,5.403603

In [248]:
df['pay_gap_group'] = pd.cut(
    df['pay_diff'],
    bins=[-100, -10, 0, 10, 100],
    labels=['Underpaid (<-10%)','Slightly Underpaid','Fair','Overpaid']
)
attrition_by_paygap = (
    df
    .groupby('pay_gap_group')['target']
    .mean()
    .sort_index()
)

attrition_by_paygap

pay_gap_group
Underpaid (<-10%)     0.107692
Slightly Underpaid    0.108548
Fair                  0.107759
Overpaid              0.107358
Name: target, dtype: float64

In [249]:
df.groupby(['gender','pay_gap_group'])['target'].mean().reset_index()

   gender       pay_gap_group    target
0  Female   Underpaid (<-10%)  0.116597
1  Female  Slightly Underpaid  0.106257
2  Female                Fair  0.104717
3  Female            Overpaid  0.121896
4    Male   Underpaid (<-10%)  0.093750
5    Male  Slightly Underpaid  0.111643
6    Male                Fair  0.109629
7    Male            Overpaid  0.102058

In [250]:
df.groupby(['tenure_group','pay_gap_group'])['target'].mean().reset_index()

               tenure_group       pay_gap_group    target
0          0-1 year (early)   Underpaid (<-10%)  0.462810
1          0-1 year (early)  Slightly Underpaid  0.485057
2          0-1 year (early)                Fair  0.494118
3          0-1 year (early)            Overpaid  0.481013
4           2-3 years (mid)   Underpaid (<-10%)  0.064767
5           2-3 years (mid)  Slightly Underpaid  0.072626
6           2-3 years (mid)                Fair  0.071104
7           2-3 years (mid)            Overpaid  0.078385
8   4-5 years (experienced)   Underpaid (<-10%)  0.075221
9   4-5 years (experienced)  Slightly Underpaid  0.078652
10  4-5 years (experienced)                Fair  0.054726
11  4-5 years (experienced)            Overpaid  0.075697
12      6-11 years (senior)   Underpaid (<-10%)  0.019830
13      6-11 years (senior)  Slightly Underpaid  0.016272
14      6-11 years (senior)                Fair  0.016204
15      6-11 years (senior)            Overpaid  0.016021

In [251]:
df.groupby(['department','pay_gap_group'])['target'].mean().reset_index()

          department       pay_gap_group    target
0   Customer Service   Underpaid (<-10%)  0.104089
1   Customer Service  Slightly Underpaid  0.092496
2   Customer Service                Fair  0.129597
3   Customer Service            Overpaid  0.111538
4            Finance   Underpaid (<-10%)  0.106557
5            Finance  Slightly Underpaid  0.209091
6            Finance                Fair  0.110092
7            Finance            Overpaid  0.135135
8                 HR   Underpaid (<-10%)  0.142857
9                 HR  Slightly Underpaid  0.157143
10                HR                Fair  0.017241
11                HR            Overpaid  0.217391
12                IT   Underpaid (<-10%)  0.102679
13                IT  Slightly Underpaid  0.088983
14                IT                Fair  0.104513
15                IT            Overpaid  0.113208
16         Marketing   Underpaid (<-10%)  0.093750
17         Marketing  Slightly Underpaid  0.076596
18         Marketing                Fair  0.125000
19         Marketing            Overpaid  0.091603
20        Operations   Underpaid (<-10%)  0.101093
21        Operations  Slightly Underpaid  0.117352
22        Operations                Fair  0.104255
23        Operations            Overpaid  0.089157
24             Sales   Underpaid (<-10%)  0.120930
25             Sales  Slightly Underpaid  0.114053
26             Sales                Fair  0.093275
27             Sales            Overpaid  0.110375

In [252]:
df.to_csv('hr_workforce_cleaned.csv',index=False)